<suite name="Automation practice Test Suite" parallel="methods" thread-counts="4" verbose="1">
  <test name="UI Automation Test">
  <!--parameter name="browser" value="chrome" />
  <parameter name="isLamdaTest" value="false" />
  <parameter name="isHeadLess" value="true" /-->
  
  <!--reading values from maven surefire plugin-->
  <parameter name="browser" value="${browser}" />
  <parameter name="isLambdatest" value="${isLambdaTest}" />
  <parameter name="isHeadLess" value="${isHeadLess}" />
    <classes>
       <class name="com.ui.tests.LoginTest"/>
       <class name="com.ui.tests.LoginTestWithInvalidCreds"/>
       <class name="com.ui.tests.PostLoginAddFirstAddressTest"/>
       <class name="com.ui.tests.ProductSearchTest"/>
       <class name="com.ui.tests.SearchedProductCheckoutTest"/>
    </classes>
  </test>

  
</suite>